

/*===================================================================================*/
/*	CUSTOM CSS STYLES
/*===================================================================================*/

/* Insert your own styles in here! */


.get-started-btn {
    border-radius: 4px !important;
    color: var(--white) !important;
    background-color: var(--primary) !important;
}

.get-started-btn:hover {
    opacity: 0.8;
}

.language-picker .inner{
    padding: 0 !important;
}

.language-picker .bootstrap-select {
    width: 120px !important;
}

.language-picker .form-control {
    background-color: transparent !important;
    border: none !important;
}

.language-picker .form-control:focus {
    box-shadow: none !important;
    color: inherit;
}

.language-picker .bootstrap-select .dropdown-toggle:focus {
    outline: none !important;
}

.nav > li.active > a {
    color: var(--primary) !important;
    border-bottom-color: var(--primary) !important;
    border-bottom-width: 3px !important;
}

.features .not-available {
    color: #d6d6d6;
}

@media (max-width: 1024px) {
    .get-started-btn {
        display: none !important;
    }
    .get-started-btn-expanded {
        display: block !important;
    }
}
