

/*===================================================================================*/
/*	CUSTOM CSS STYLES
/*===================================================================================*/

/* Insert your own styles in here! */


.text-dark {
    color: #333333 !important;
}

.get-started-btn {
    border-radius: 4px !important;
    color: var(--white) !important;
    background-color: var(--primary) !important;
}

.get-started-btn:hover {
    opacity: 0.8;
}

.language-picker .inner{
    padding: 0 !important;
}

.language-picker .bootstrap-select {
    width: 120px !important;
}

.language-picker .form-control {
    background-color: transparent !important;
    border: none !important;
    font-size: unset !important;
}

.language-picker .form-control:focus {
    box-shadow: none !important;
    color: inherit;
}

.language-picker .bootstrap-select .dropdown-toggle:focus {
    outline: none !important;
}

.language-picker li:not(.selected) a {
    color: #777777;
}

footer a:hover {
    color: unset !important;
}

.nav > li.active > a {
    color: var(--primary) !important;
    border-bottom-color: var(--primary) !important;
    border-bottom-width: 3px !important;
}

.features .not-available {
    color: #aaaaaa;
}

.cookie-consent-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
    box-sizing: border-box;
    width: 100%;
}

.cookie-consent-banner-ack {
    box-sizing: border-box;
    display: inline-block;
    min-width: 164px;
    padding: 11px 13px;
    border-radius: 2px;
    background-color: var(--primary);
    color: var(--white);
}

.cookie-consent-banner-ack:hover, .cookie-consent-banner-ack:focus {
    opacity: 0.8;
    color: var(--white);
}

.header-yenoma {
    color:#7986cb;
    opacity: 0.9;
    font-size: 12vh !important;
}

.header-yenoma.lower {
    font-size: 4vh !important;
}

@media (max-width: 1024px) {
    .get-started-btn {
        display: none !important;
    }
    .get-started-btn-expanded {
        display: block !important;
    }

    .header-yenoma {
        font-size: 8vh !important;
    }

    .header-yenoma.lower {
        font-size: 2vh;
    }
}

@media (max-width: 550px) {
    .header-yenoma {
        font-size: 5vh !important;
    }

    .header-yenoma.lower {
        font-size: 2vh !important;
    }
}
